body {
    background-color: hwb(55 93% 3%);
    color: hsl(0, 0%, 0%);
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 0;
    transition: 0.5s;
    

}
header {
    background: hwb(37 72% 17%);
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

/*change la couleur des mots "sites" en noir*/ 
.site {
    color: rgb(0, 0, 0);

}


/* Définit la taille de l'écriture dans les titres et les paragraphes*/

p{
    font-size: 20px;

}
h1 {
    font-size: 40px;
    margin-top: 20px;
}

h2 {
    font-size: 30px;
    margin-top: 30px;
}

h3 {
    font-size: 25px;
}

.Mes_sport_titres{
    text-align: center;

}

.paragraphe {
    background-color: hwb(55 93% 3%);

    color: black;

    width: 70%;

    margin: 20px auto;
    padding: 20px;

    border-radius: 15px;

    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);

    transition: 0.5s;
}

.groupe{
    background-color: hsl(34, 15%, 68%);

    color: black;

    width: 70%;

    margin: 20px auto;

    padding: 20px;

    border-radius: 15px;

    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);

    transition: 0.5s;

}
.btn-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background: #333;
    color: white;
    background-color: hsl(34, 15%, 68%);
    border-radius: 5px;
}
html {
    scroll-behavior: smooth;
}

.btn_mode_sombre {
    display: inline-block;

    position: fixed;
    
    top: 10px;
    
    right: 10px;

    background-color: white;
    
    color: black;

    text-decoration: none;

    padding: 10px 20px;

    border-radius: 20px;

    margin: 10px;

    transition: 0.3s;
    
}

.btn_mode_sombre:hover {
    background-color: #ddd;

    transform: scale(1.05);
}

.bouton {
    display: inline-block;

    background-color: hsl(34, 15%, 68%);
    color: black;

    text-decoration: none;

    padding: 12px 20px;

    border-radius: 10px;

    margin: 10px;

    transition: 0.3s;
}
.btn_retour {
    display: inline-block;
    position: relative;
    bottom: 20px;
    left: 20px;

    background-color: hsl(34, 15%, 68%);
    color: black;

    text-decoration: none;

    padding: 12px 20px;

    border-radius: 10px;

    margin: 10px;

    transition: 0.3s;
}

/* Quand la souris passe dessus */
.bouton:hover {
    background-color: oklch(59.256% 0.02776 75.053);

    transform: scale(1.05);

    color: white;
}

.image {
    width: 300px;

    border-radius: 10px;
}

/* Image à gauche */
.gauche {
    float: left;

    margin-left: 20px;
}

/* Image à droite */
.droite {
    float: right;

    margin-right: 200px;
}

/* Image centrée */
.centre {
    display: block;

    margin: auto;
}

/*--------------------------------------Seulemnt pour pierre2.html/pierre3.html -----------------------------------------------------------*/
.withimage {
    display: inline-block;

    background-color: hsl(53, 26%, 69%);

    color: #333;

    text-decoration: none;

    padding: 12px 20px;

    border-radius: 10px;

    margin: 10px;

    transition: 0.3s;
}
.sous_titres_les_conférences {
    background-color: hwb(55 93% 3%);

    color: black;

    width: 16%;

    margin: 20px auto;
    padding: 20px;

    border-radius: 15px;

    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);

    transition: 0.5s;
}
/*--------------------------------------Fin seulemnt pour pierre2.html/pierre3.html -----------------------------------------------------------*/


/* --------------------------------------------Mon mode sombre------------------------------------------------------------*/
.dark-mode {
    background-color: lch(10.86% 43.06 298.39);

    text-align: center;

    color: white;

    font-size: 20px;
    header {
        background: #0d0533;
        padding: 2rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
    }
    
    .paragraphe {
        background-color: hwb(239 73% 6%);
        color: black;

        width: 70%;

        margin: 20px auto;
        padding: 20px;

        border-radius: 15px;

        box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    }
    
    
    /* cela change la couleur des étiquettes class="groupe" pour la mettre en mode sombre*/
    .groupe{
        background-color: lch(4.69% 15.64 290.41);

        color: white;

        width: 70%;

        margin: 20px auto;

        padding: 20px;

        border-radius: 15px;

        box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    }
    /* cela change la couleur des bouton class="bouton" pour la mettre en mode sombre*/
    .bouton {
        display: inline-block;

        color: white;

        background-color: lch(4.69% 15.64 290.41);

        color: white;

        text-decoration: none;

        padding: 12px 20px;

        border-radius: 10px;

        margin: 10px;

        transition: 0.3s;
    }
    html {
        scroll-behavior: smooth;
    }

    /* cela change la couleur de l' bouton class="bouton" pour la mettre en mode sombre*/
    .bouton:hover {
        background-color: oklch(12.641% 0.02173 276.427);

        transform: scale(1.05);

        color: white;
    }
    .btn-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px 15px;
        background: black ;
        color: white;
        background-color: hwb(239 73% 6%);
        border-radius: 5px;
    }

    /*--------------------------------------seulemnt pour pierre2.html -----------------------------------------------------------*/
    .withimage {
        display: inline-block;

        background-color: hwb(239 73% 6%);

        color: #333;

        text-decoration: none;

        padding: 12px 20px;

        border-radius: 10px;

        margin: 10px;

        transition: 0.3s;
    }

    /*--------------------------------------Fin seulemnt pour pierre2.html -----------------------------------------------------------*/

}
/* --------------------------------------------Fin de mon mode sombre------------------------------------------------------------*/