body {
background-color: oklch(94.771% 0.02312 75.794);
font-family: 'Times New Roman', Times, serif ;
}

h1 {
    color: #333333;
    text-align: center;
}
h2 {
    color: #333333;
    text-align: center;
}
h3 {
    color: #333333;
    text-align: center;
}
h4 {
    color: #333333;
    text-align: center;
}
